<section id="title">
  <h1>Super cool shop!</h1>
  <p id="cart-text">
    My Cart
    <span id="item-count">0</span> items <span id="price">&pound;0.00</span>
    <button class="btn btn-primary btn-s" data-toggle="modal" data-target="#myModal" id="checkout">Checkout</button>
  </p>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Checkout</h4>
        </div>
        <div class="modal-body">
          <ul>
          </ul>
          <p>Balance: £<span class="balance">0.00</span></p>
        </div>
        <div class="modal-footer">
        <form>
          <button data-name="fiver" class="voucher btn btn-success btn-xs">Add £5 discount</button>
          <button data-name="tenner" class="voucher btn btn-success btn-xs">Add £10 discount</button>
          <button data-name="fifteen" class="voucher btn btn-success btn-xs">Add £15 discount</button>
          <p>Total Price: £<span class="total-price">0.00</span></p>
        </form>
        </div>
      </div>
    </div>
  </div>

  </section>