<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
  </head>

  <body class="container-fluid">
  <header>
    <% include header.ejs %>
  </header>

  <main>
  <% include main.ejs %>
  </main>

  <script src="./javascript/jquery-2.1.1.min copy.js"></script>
  <script src="./javascript/bootstrap.min.js"></script>
  <script src="./javascript/data.json"></script>
  <script src="./javascript/ShoppingCart.js"></script>
  <script src="./javascript/Product.js"></script>
  <script src="./javascript/Voucher.js"></script>
  <script src="./javascript/interface.js"></script>

  </body>

</html>
