<% result.forEach(function(item) { %>
    <section  data-name="<%= item[0] %>" class="col-xs-6 col-md-4 item">
  <h3><%= item[1].name %></h3><img src="<%= item[1].image_url %>">
  <p>Price: £<%= item[1].price %></p>
  <form class="buying">
    <button class="add btn btn-primary">Add</button>
    <button class="remove btn btn-primary">Remove</button>
  </form>
</section>
<% }); %>