<section id="item1" data-name="item1" class="col-xs-6 col-md-4 item">
        <h3>Almond Toe Court Shoes, Patent Black</h3><img src="./images/black-shoes.jpg">
        <p>Price: £99.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item2" class="col-xs-6 col-md-4 item">
        <h3>Suede Shoes, Blue</h3> <img src="./images/blue-shoes.jpg"> <p>Price: £42.00</p>
        <form class="buying">
        <button class="add btn btn-primary">Add</button>
        <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item3" class="col-xs-6 col-md-4 item">
        <h3>Leather Driver Saddle Loafers, Tan</h3> <img src="./images/brown-shoes.jpg"> <p>Price: £34.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item4" class="col-xs-6 col-md-4 item">
        <h3>Flip Flops, Red</h3><img src="./images/red-flip.jpg"> <p>Price: £19.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item5" class="col-xs-6 col-md-4 item">
        <h3>Flip Flops, Blue</h3> <img src="./images/blue-flip.jpg"> <p>Price: £19.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item6" class="col-xs-6 col-md-4 item">
        <h3>Gold Button Cardigan, Black</h3> <img src="./images/cardigan.jpg"> <p>Price: £167.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>

      <section data-name="item7" class="col-xs-6 col-md-4 item">
        <h3>Cotton Shorts, Medium Red</h3> <img src="./images/shorts.jpg"> <p>Price: £30.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item8" class="col-xs-6 col-md-4 item">
        <h3>Fine Stripe Short Sleeve Shirt, Grey</h3> <img src="./images/grey-shirt.jpg"> <p>Price: £49.99</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item9" class="col-xs-6 col-md-4 item">
        <h3>Fine Stripe Short Sleeve Shirt, Green</h3> <img src="./images/green-shirt.jpg"> <p>Price: £39.99</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item10" class="col-xs-6 col-md-4 item">
        <h3>Sharkskin Waistcoat, Charcoal</h3> <img src="./images/waistcoat.jpg"> <p>Price: £75.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item11" class="col-xs-6 col-md-4 item">
        <h3>Lightweight Patch Pocket Blazer, Deer</h3> <img src="./images/blazer.jpg"> <p>Price: £175.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item12" class="col-xs-6 col-md-4 item">
        <h3>Bird Print Dress, Black</h3> <img src="./images/bird-dress.jpg"> <p>Price: £270.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>
      <section data-name="item13" class="col-xs-6 col-md-4 item">
        <h3>Mid Twist Cut-Out Dress, Pink</h3> <img src="./images/pink-dress.jpg"> <p>Price: £540.00</p>
        <form class="buying">
          <button class="add btn btn-primary">Add</button>
          <button class="remove btn btn-primary">Remove</button>
        </form>
      </section>