html {
  position: relative;
  min-height: 100%;
}

.container-fluid {
  padding: 0;
  margin-bottom: 60px;
}

h1 {
  margin-top: 0;
  color:#fff;
  display: inline;
}

a:hover {
  text-decoration: none;
}

#title {
  padding: 2% 0 4%;
  background-color: #29A3A3;
}

#title a {
  margin-left: 8.333%;
}

#price {
  border: none;
  background-color: #29A3A3;
  width: 65px;
  padding: 0;
}

#cart-text {
  color: #fff;
  font-size: 1.25em;
}

#checkoutButton {
  margin-left: 10px;
}

p {
  display: inline;
}

h3 {
  font-size: 1em;
  margin-bottom: 30px;
}

#item1 {
  clear: left;
}

.item {
  background-color: #FFF;
  padding: 2% 0;
  text-align: center;
}

.buying {
  padding: 8%;
}

#checkoutTitle {
  color: #fff;
  float: right;
  margin-top: -80px;
}

.purchaseAndPricing {
  padding: 15px 15px;
  min-height: 100%;
}

.purchaseAndPricing h2 {
  font-size: 1.5em;
  margin: 20px 0 30px 50px;
}

.purchaseAndPricing img {
  display: block;
  margin: 12px 0 0 70px;
}

.purchaseAndPricing li {
  list-style: none;
  min-height: 230px;
  border: 1px solid #4cae4c;
  border-radius: 7px;
  margin: 10px;
}

aside {
  font-size: 1.25em;
  padding-bottom: 30px;
}

.minus{
  margin-left: 60px;
}

.offers {
  margin-bottom: 20px;
}

.purchaseAndPricing h4 {
  margin-top: 30px;
}

.purchaseAndPricing p {
  float: right;
  margin: 0 120px 40px 0;
}

#totalPrice {
  display: none;
  margin: 0 120px;
  font-weight: bold;
  font-size: 1.25em;
}

#initialPrice {
  margin: 0 120px;
  font-weight: bold;
  font-size: 1.25em;
}

#specialOffers {
  margin: 20px 0 40px -30px;
}

#vouchers{
  display: inline;
}

#fiver, #tenner, #fifteen {
  display: none;
}

#specialOffers li {
  min-height: 10px;
  background-color: #B2E0B2;
  border: 1px solid #4cae4c;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0 0 -10px;
  width: 80%;
}

footer {
  background-color: #B2E0B2;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer p {
  color: #fff;
  float: right;
  font-size: 1.5em;
  margin-right: 100px;
}

.error {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 5;
  border: 3px solid black;
  padding: 10px;
  background-color: red;
}

@media (max-width: 600px) {

  h1 {
    font-size: 1.25em;
  }

  #title p {
    font-size: 1em;
  }

}