.container-fluid {
  padding: 0;
}

h1 {
  margin-top: 0;
  color:#fff;
  display: inline;
}

a:hover {
  text-decoration: none;
}

#title {
  padding: 3%;
  background-color: #29A3A3;
}

#price {
  border: none;
  background-color: #29A3A3;
  width: 55px;
  padding: 0;
}

#cart-text {
  color: #fff;
  font-size: 1.25em;
}

#checkout {
  display: inline;
  margin-left: 50%;
}

#checkoutButton {
  margin-left: 10px;
}

p {
  display: inline;
}

h3 {
  font-size: 1em;
  margin-bottom: 30px;
}

#item1 {
  clear: left;
}

.item {
  background-color: #FFF;
  padding: 2% 0;
  text-align: center;
}

.buying {
  padding: 8%;
}

.modal-header {
  border-bottom: 1px solid #B2E0B2;
}

.modal-header, .modal-body {
  background-color: #FFFFE7;
}

.modal-body {
  padding: 15px 15px 30px;
}

.modal-body p {
  float: right;
}

.modal-footer {
  background-color: #B2E0B2;
}

.modal-footer p {
  padding-left: 20%;
  color: #5cb85c;
}

.error {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 5;
  border: 3px solid black;
  padding: 10px;
  background-color: red;
}

@media (max-width: 600px) {

  h1 {
    font-size: 1.25em;
  }

  #title p {
    font-size: 1em;
  }

}